@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,800,800i');

//Color Variables
$primary-color: #274347;
$primary-hover: #352e3d;
$secondary-color: #b8ae55;
$background-color: #121329;
$tile-background-color: #080811;

//Font Variables
$main-font: 'Montserrat', sans-serif;

//Borders Variables
$standard-radius: 2px;
